<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loty - Strona główna</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <div class="tile" onclick="window.location.href='/search_flights'">
            <h2>Wyszukiwarka lotów</h2>
        </div>
        <div class="tile" onclick="window.location.href='/admin'">
            <h2>Strefa Admina</h2>
        </div>
    </div>
</body>
</html>
